$primary: #FFEB3B;
$statusBars: #FBC02D;
$accent: #FFFF00;
$black: #212121;
$bg: #FAFAFA;
$whiteText: #EEEEEE;

.upperSheet{
	position:fixed;
	background:$statusBars;
	margin:0;
	width:100vw;
	height:120px;
	box-shadow:0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

#card{
	position:relative;
	padding:24px;
	height:auto;
	width:500px;
	margin:45px auto 30px auto;
	box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	background: $bg;
	h4{	
		margin:16px;
		color:$whiteText;
		
	}
	.header{
		background: $black;
		position:absolute;
		top:0;
		left:0;
		height:60px;
		width:100%;
	}
	.content{
		margin-top:60px;

			p{
				font-size:18px;
			}
			p.formLabels{
				font-size:16px;
			}
			#commonFields img.profilePicture{
				float:right;
				width:150px;
				margin-top: 16px;
			}

	}
}
