
<h4>Bedrijven</h4>

<div class="mdl-list companies">
  <div class="mdl-list__item" ng-repeat="company in companies">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">store</i>
      <span>{{company.bedrijfNaam}}</span>
    </span>
    <a class="mdl-list__item-secondary-action delete" ng-click="deleteCompany(company.bedrijfID, $index)"><i class="material-icons">delete</i></a>
  </div>
</div>


<h4>Sollicitanten</h4>

<div class="mdl-list companies">
  <div class="mdl-list__item" ng-repeat="user in users">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">account_box</i>
      <span>{{user.Voornaam}} {{user.achternaam}}</span>
    </span>
    <a class="mdl-list__item-secondary-action delete" ng-click="deleteUser(user.userID, $index)"><i class="material-icons">delete</i></a>
  </div>
</div>

<h4>Vacatures</h4>

<div class="mdl-list companies">
  <div class="mdl-list__item" ng-repeat="vacature in vacatures">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">title</i>
      <span>{{vacature.titel}}</span>
    </span>
    <a class="mdl-list__item-secondary-action delete" ng-click="deleteVacancy(vacature.vacatureID, $index)"><i class="material-icons">delete</i></a>
  </div>
</div>

